:root{
  --blue: #598ccd;
  --dark-blue: #2a476f;
  --intense-blue: #0e4ac6;
  --gray: #c4cacc;
  --orange: #de9142;
  --white: #fff;
}
@font-face{
  font-family: 'Intervogue soft ultra';
  src: url("./fonts/Intervogue Soft Ultra.otf") format('opentype');
}
@font-face{
  font-family: 'Intervogue soft bold';
  src: url("./fonts/Intervogue Soft Bold.otf") format('opentype');
}
@font-face{
  font-family: 'Intervogue soft regular';
  src: url("./fonts/Intervogue Soft Regular.otf") format('opentype');
}
@font-face{
  font-family: 'the bold font';
  src: url("./fonts/theboldfont.ttf") format('truetype');
}

body{
  margin: 0;
  padding: 0;
}
*, *::after, *::before{
  box-sizing: border-box;
}

/* TOPBAR */

.topBar{
  display: flex;
  flex-direction: column;
  width: 100vw;
  background: var(--blue);
  overflow: hidden;
}
.topBar__up{
  display:flex;
}
.topBar__header{
  width: 58%;
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: center;
}
.topBar__header h1{
  font-size: 18px;
  font-family: 'the bold font';
  color: var(--dark-blue);
}
.topBar__header-logo{
  width: 163px;
  position: absolute;
  left: 50%;
  bottom: 42px;
  transform: translate(-50%, 0);
  z-index: 1;
}
.topBar__header-logo img{
  width: 100%;
}
.stripe-blue{
  width: calc(100% + 8px);
  height: 15px;
  background: var(--intense-blue);
  position: absolute;
  bottom: 45px;
}
.topBar__logo{
  width: 42%;
}
.topBar__logo img{
  width: 100%;
  border-radius: 5px;
  margin: 4px 0 1px 4px;
}

.topBar__description{
  background: var(--gray);
}
.topBar__description p{
  padding: 5px 15px;
  font-family: 'Intervogue soft regular';
}
.dotsMobile{
  width: 100%;
}
.dotsMobile img{
  width: 100%;
}
.mobile-header{
  text-align: center;
  font-family: 'Intervogue soft ultra';
  font-size: 18px;
  color: var(--orange);
  position: relative;
}
.mobile-header::after{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--dark-blue);
  left:50%;
  top: 35px;
  transform: translateX(-50%);
}

/* THEMES */

.themes{
  font-family: 'Intervogue soft regular';
  margin: 40px 0 0 0;
}
.theme p, .themes__heading{
  padding: 0 15px;
}
.theme{
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 0 50px 0;
}
.theme:nth-of-type(4){
  margin: 0 0 20px 0;
}
.theme__logo{
  width: 85%;
  margin: 0 0 0 auto;
}
.theme__name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--orange);
  font-family: 'Intervogue soft ultra';
  text-align: center;
}
black{
  color: black;
}
.theme__logo img{
  width: 100%;
}
.theme__text, .theme__bold{
  grid-column: 1/3;
}
.theme__text{
  order: 3;
}
.theme__bold{
  font-family: 'Intervogue soft bold';
  margin: 0;
  order:4;
}
.theme:nth-of-type(even) .theme__logo{
  order: 2;
  margin: 0 auto 0 0;
}
.theme:nth-of-type(even) .theme__name{
  order: 1;
}
.stripe-orange{
  background: var(--orange);
  width: 100%;
  height: 25px;
}
.suprise{
  background: var(--gray);
  text-align: center;
}
.suprise__bold{
  font-family: 'Intervogue soft bold';
}
.suprise p{
  padding: 15px 15px 0 15px;
  margin: 0;
}
.suprise p:last-of-type{
  padding: 15px;
}
/* MENTORS */
.mentors{
  background: var(--blue);
}
.mentors__header{
  font-family: 'Intervogue soft ultra';
  margin: 15px 0 5px 0;
  font-size: 28px;
  text-align: center;
}
.mentor{
  display: grid;
  grid-template-columns: 40% 60%;
  position: relative;
  padding: 0 0 30px 0;
}
.mentor__img{
  order: 0;
  position: relative;
  z-index: 1;
}
.mentor__img img{
  width:100%;
}
.mentor__name{
  position: relative;
  z-index: 1;
}
.mentor__description{
  order: 1;
  color: var(--white);
  font-family: 'Intervogue soft regular';
}
.mentor__description p{
  margin: 0 5px 0 5px;
}
.mentor h2{
  margin: 5px 0 5px 5px ;
  max-width: 100px;
  font-size: 20px;
  font-family: 'Intervogue soft ultra';
}
.mentor__stripe{
  position: absolute;
  height: 19px;
  width: 100%;
  background: var(--intense-blue);
  top: 20px;
}
.description__read-more{
  font-family: 'Intervogue soft bold';
  cursor: pointer;
}
.description__full{
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.description__read-less{
  display: none;
  font-family: 'Intervogue soft bold';
  cursor: pointer;
  margin: 0 5px 20px 5px !important;
}
.mentor:nth-of-type(even){
  grid-template-columns: 60% 40%;
}
.mentor:nth-of-type(even) .mentor__img {
  order: 2;
}
.mentor:nth-of-type(even) .mentor__name {
  order: 0;
}

/* FOOTER */
.footer{
  font-family: 'Intervogue soft regular';
  background: var(--gray);
  text-align: center;
}
.footer .stripe-orange{
  margin: 40px 0 0 0;
}
.footer__info p{
  padding: 3px 15px;
}
.footer__info p:last-of-type{
  padding: 2px 15px 20px 2px;
}
.footer__info p:first-of-type{
  font-family: 'Intervogue soft bold';
}
.footer__info p:nth-of-type(3){
  position: relative;
}
.footer__info p:nth-of-type(3)::after{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--orange);
  left:50%;
  bottom: -35px;
  transform: translateX(-50%);
}
.footer__info p:nth-of-type(4){
  margin:50px 0 0 0;
}
bold{
  font-family: 'Intervogue soft bold';
}
.contact {
  text-align: center;
  font-family: 'Intervogue soft regular';
}
.contact h4{
  margin: 15px 0 0 0;
  font-family: 'Intervogue soft ultra';
}
.contact__map{
  width: 280px;
  height: 280px;
  margin: 0 auto;
  border: 10px solid var(--blue);
}
iframe{
  width: 100%;
  height: 100%;
}
.contact__icon{
  padding: 0 0 30px 0;
  transition: 0.3s transform ease;
  color: black
}
.contact__icon:hover{
  transform: scale(1.2);
}