:root{
  --blue: #598ccd;
  --dark-blue: #2a476f;
  --intense-blue: #0e4ac6;
  --gray: #c4cacc;
  --orange: #de9142;
  --white: #fff;
}
@font-face{
  font-family: 'Intervogue soft ultra';
  src: url("./fonts/Intervogue Soft Ultra.otf") format('opentype');
}
@font-face{
  font-family: 'Intervogue soft bold';
  src: url("./fonts/Intervogue Soft Bold.otf") format('opentype');
}
@font-face{
  font-family: 'Intervogue soft regular';
  src: url("./fonts/Intervogue Soft Regular.otf") format('opentype');
}
@font-face{
  font-family: 'the bold font';
  src: url("./fonts/theboldfont.ttf") format('truetype');
}
#root{
  overflow: hidden;
}
body{
  margin: 0;
  padding: 0;
}
*, *::after, *::before{
  box-sizing: border-box;
}

/* TOPBAR */
@media screen and (max-width: 350px){
  .topBar__header h1{
    font-size: 15px !important;
    min-width: 121px !important;
  }
  .stripe-blue{
    height: 12px !important;
  }
  .topBar__header-logo {
    width: 140px !important;
  }
  .mentor:nth-of-type(2) h2{
    font-size: 18px !important;
  }
  .mentor:nth-of-type(2) h2:after{
    top: 12px !important;
  }
}
.topBar{
  display: flex;
  flex-direction: column;
  background: var(--blue);
  overflow: hidden;
}
.topBar__up{
  width: 58%;
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: center;
}
.topBar__up-container{
  display:flex;
  justify-content: space-between;
}
.topBar__header{
  width: 58%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.topBar__header h1{
  font-size: 18px;
  font-family: 'the bold font';
  color: var(--dark-blue);
  min-width: 150px;
}
.topBar__logo{
  display: none;
}
.topBar__header-logo{
  width: 163px;
  position: absolute;
  left: 50%;
  bottom: 42px;
  transform: translate(-50%, 0);
  z-index: 1;
}
.topBar__header-logo img{
  width: 100%;
}
.stripe-blue{
  width: calc(100% + 8px);
  height: 15px;
  background: var(--intense-blue);
  position: absolute;
  bottom: 45px;
}
.topBar__logo-mobile{
  width: 42%;
}
.topBar__logo-mobile img{
  width: 100%;
  border-radius: 5px;
  margin: 4px 0 1px 4px;
}
.topBar__description{
  display: none;
}
.topBar__description-mobile{
  display: block;
  background: var(--gray);
}
.topBar__description-mobile p{
  padding: 5px 15px;
  font-family: 'Intervogue soft regular';
}
.topBar__down{
  display: none;
}
.dotsMobile{
  width: 100%;
}
.dotsMobile img{
  width: 100%;
}
.mobile-header{
  text-align: center;
  font-family: 'Intervogue soft ultra';
  font-size: 18px;
  color: var(--orange);
  position: relative;
}
.cicle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--dark-blue);
  margin: 0 auto;
}

/* THEMES */

.themes{
  font-family: 'Intervogue soft regular';
  margin: 15px 0 0 0;
}
.theme p, .themes__heading-mobile{
  padding: 0 15px;
}
.theme{
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 0 50px 0;
}
.theme:nth-of-type(even) .theme__name-mobile{
  color: var(--blue)
}
.theme:nth-of-type(4){
  margin: 0 0 20px 0;
}
.theme__logo{
  width: 85%;
  margin: 0 0 0 auto;
}
.theme__name{
  display: none;
}
.theme__name-mobile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--orange);
  font-family: 'Intervogue soft ultra';
  text-align: center;
}
black{
  color: black;
}
.theme__logo img{
  width: 100%;
}
.theme__text, .theme__bold{
  grid-column: 1/3;
}
.theme__text{
  order: 3;
}
.theme__bold{
  font-family: 'Intervogue soft bold';
  margin: 0;
  order:4;
}
.theme:nth-of-type(even) .theme__logo{
  order: 2;
  margin: 0 auto 0 0;
}
.theme:nth-of-type(even) .theme__name-mobile{
  order: 1;
}
.stripe-orange{
  background: var(--orange);
  width: 100%;
  height: 25px;
}
.suprise{
  background: var(--gray);
  text-align: center;
}
.suprise__bold{
  font-family: 'Intervogue soft bold';
}
.suprise p{
  padding: 15px 15px 0 15px;
  margin: 0;
}
.suprise p:last-of-type{
  padding: 15px;
}
.suprise__img{
  display: none;
}
/* MENTORS */
.mentors{
  display: none;
}
.mentors-mobile{
  background: var(--blue);
}

.mentors__header{
  font-family: 'Intervogue soft ultra';
  margin: 15px 0 5px 0;
  font-size: 28px;
  text-align: center;
}
.mentor{
  display: grid;
  grid-template-columns: 40% 60%;
  position: relative;
  padding: 0 0 30px 0;
  overflow: hidden;
}
.mentor__img{
  order: 0;
  position: relative;
  z-index: 2;
}
.mentor__img img{
  width:100%;
}
.mentor__name{
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
}
.mentor__description{
  order: 3;
  color: var(--white);
  font-family: 'Intervogue soft regular';
  grid-column: 1 /3;
    padding: 10px 10px 0 10px;
}
.mentor__description p{
  margin: 0 5px 0 5px;
  line-height: 1.3;
}
.mentor h2{
  margin: 5px;
  font-family: 'Intervogue soft ultra';
  font-size: 24px;
  color: var(--white);
  position: relative;
}
.mentor h2::after{
  content: '';
  position: absolute;
  height: 22px;
  width: 100vw;
  top: 20px;
  z-index: -1;
  left: -5px;
  background: var(--intense-blue);
}

.description__read-more{
  font-family: 'Intervogue soft bold';
  cursor: pointer;
}
.description__full{
  max-height: 0;
  overflow: hidden;
}
.description__read-less{
  display: none;
  font-family: 'Intervogue soft bold';
  cursor: pointer;
  margin: 0 5px 20px 5px !important;
}
.mentor:nth-of-type(2) h2{
  font-size: 21px;
}
.mentor:nth-of-type(even){
  grid-template-columns: 60% 40%;
}
.mentor:nth-of-type(even) .mentor__img {
  order: 2;
}
.mentor:nth-of-type(even) .mentor__name {
  order: 0;
  text-align: right;
  justify-content: flex-end;
}
.mentor:nth-of-type(even) h2::after{
  right: -5px;
  left: unset;
}

/* FOOTER */

.footer{
  font-family: 'Intervogue soft regular';
  background: var(--gray);
  text-align: center;
  position: relative;
}
.footer .stripe-orange{
  margin: 40px 0 0 0;
}
.footer__info p{
  padding: 3px 15px;
}
.footer__info p:last-of-type{
  padding: 2px 15px 20px 2px;
}
.footer__info p:first-of-type{
  font-family: 'Intervogue soft bold';
}
.footer__info p:nth-of-type(3){
  position: relative;
}
.footer__info p:nth-of-type(3)::after{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--orange);
  left:50%;
  bottom: -35px;
  transform: translateX(-50%);
}
.footer__info p:nth-of-type(4){
  margin:50px 0 0 0;
}
.footer__img{
  display: none;
}
bold{
  font-family: 'Intervogue soft bold';
}
.contact {
  text-align: center;
  font-family: 'Intervogue soft regular';
}
.contact h4{
  margin: 15px 0 0 0;
  font-family: 'Intervogue soft ultra';
}
.contact__map{
  width: 280px;
  height: 280px;
  margin: 0 auto;
  border: 10px solid var(--blue);
}
iframe{
  width: 100%;
  height: 100%;
}
.contact__icon{
  padding: 0 0 30px 0;
  color: black
}
.contact__info h4{
  font-size: 20px;
}
path{
  transition: 0.3s transform ease;
}
.contact__icon:hover path{
  transform: scale(1.2);
}
@media screen and (min-width: 650px){
  .topBar__header-logo{
    width: 270px;
  }
  .stripe-blue{
    height: 21px;
    bottom: 47px;
  }
  .topBar__header h1{
    font-size: 20px;
  }
}
@media screen and (min-width: 600px) {
  .mentor {
    grid-template-columns: 30% 60%;
  }
  .mentor h2 {
    font-size: 32px;
    margin:10px
  }
  .mentor h2::after,.mentor:nth-of-type(2) h2{
    height: 36px;
  }
  .mentor h2::after{
    left: -10px;
  }
  .mentor:nth-of-type(even) h2::after{
    right: -10px;
  }
}

@media screen and (min-width: 1000px) {
  .mobile-header, .themes__heading-mobile, .topBar__logo-mobile, .cicle{
    display: none;
  }
  .topBar-container{
    background: var(--gray);
    padding: 50px 0 0 0;
  }
  .topBar{
    position: relative;
  }
  .topBar__up-container{
    min-height: 507px;
  }
  .topBar__up{
    display: flex;
    flex-direction: column;
    width: 68%;
}
  .topBar__header{
    align-items: unset;
    width: unset;
    position: absolute;
    top:50px
  }
  .topBar__header h1{
    font-size: 24px;
    margin: 47px 0 0 0;
    min-width: 193px;
  }
  .topBar__header-logo{
    width: 330px;
    margin: 4px 0 0 0;
    position: unset;
    left: unset;
    bottom: unset;
    transform: unset;
  }

  .stripe-blue {
    height: 25px;
    top: 72px;
    width: 150vw;
  }
  .topBar__logo{
    display: block;
    width: 50%;
    z-index: 1;
    margin: 15px 0 0 0;
    max-width: 600px;
  }
  .topBar__logo img{
    width: 100%;
  }
  .topBar__description-mobile{
    display: none;
  }
  .topBar__description{
    display: block;
    color: var(--white);
    font-family: 'Intervogue soft regular';
    line-height: 1.2;
    padding: 162px 30px 50px 0;
    text-align: justify;
  }
  .topBar__description h2{
    font-family: 'Intervogue soft ultra';
  }
  .topBar__down{
    display: block;
    width: 100%;
    background: var(--gray);
    position: relative;
    margin: 0 0 50px 0;
  }
  .down__img{
    width: 315px;
    position: absolute;
    left:100px;
  }
  .down__img img{
    width: 100%;
  }
  .topBar__down p{
    max-width: 750px;
    padding: 30px 0;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    font-family: 'Intervogue soft regular';

  }
  .dotsMobile{
    display: none;
  }
  .gray-bg{
    position: absolute;
    width: 20%;
    max-width: 264px;
    height: 100%;
    top:0;
    right:0;
    background: var(--gray);
  }
  .theme{
    max-width: 1100px;
    margin: 0 auto 60px auto !important;
    grid-template-columns: minmax(auto, 300px) 1fr;

  }
  .theme:nth-of-type(even){
    grid-template-columns: 1fr minmax(auto, 300px);

  }
  .theme__name-mobile{
    display: none;
  }
  .theme__name{
    font-family: 'Intervogue soft ultra';
    display: block;
    color: var(--orange);
    padding: 0 15px;
    text-align: center;
  }
  .theme:nth-of-type(even) .theme__name{
    color: var(--blue);
  }
  .theme__text, .theme__bold{
    grid-column: 2;
    order: 2;
    text-align: justify;
  }
  .theme:nth-of-type(even) .theme__text,.theme:nth-of-type(even) .theme__bold{
    grid-column: 1;
    order: 1;
  }
  .theme__logo{
    max-width: 300px;
    margin: 0 auto !important;
  }
  .suprise{
    position: relative;
    margin: 20px 0 70px 0;
  }
  .suprise__img{
    display: block;
    position: absolute;
    right: 0;
    top: -32px;
    width: 164px;
  }
  .suprise__img img{
    width: 100%;
  }
  .stripe-orange{
    display: none;
  }
  .suprise p {
    margin: 0 auto;
    max-width: 700px;
  }
  .suprise p:first-of-type{
    padding: 45px 15px 0 15px;;
  }
  .suprise p:last-of-type{
    padding: 15px 15px 45px 15px;;
  }
  .mentors__header{
    margin: 15px 0;
  }
  .mentors-mobile{
    display: none;
  }
  .mentors{
    display: block;
    max-width: 950px;
    margin: 0 auto 60px auto;
    position: relative;
  }
  .menotrs-stripe{
    position: absolute;
    width: 300vw;
    height: 30px;
    left: -30vw;
    top: 50px;
    z-index: 0;
    background: var(--intense-blue);
  }
  .mentor{
    background: var(--blue);
    grid-template-columns: 30% 1fr;
    border-radius: 12px;
    padding: 0;
    max-height: 359px;
  }
  .mentor p::-webkit-scrollbar {
    width: 8px;
  }
  .mentor p::-webkit-scrollbar-thumb {
    background: var(--white);
  }
  .mentor p::-webkit-scrollbar-track {
    background: rgba(255, 255,255,0.2);
  }
  .mentor__description{
    order:2;
    grid-column: 2;
  }
  .mentor__description p {
    max-height: 242px;
    overflow-y: auto;
    padding: 0 25px 0 15px;
    text-align: justify;
}
  .description__full{
    max-height: unset;
  }
  .mentor__name h2::after{
    display: none;
  }
  .swiper-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
  }
  .nextNav, .prevNav{
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .prevNav{
    margin: 0 20px 0 0;
    transform: rotate(180deg);
  }
  .nextNav{
    margin: 0 0 0 20px;
  }
  .nextNav img, .prevNav img{
    width: 100%;
  }
  .swiper-pagination-bullet-active{
    background: var(--intense-blue)!important;
    border: none!important;
  }
  .swiper-pagination-bullet {
    width: 30px;
    height: 30px;
    opacity: 1;
    background: none;
    border: 2px solid black;
    margin: 0 15px 0 0;
  }
  .swiper-pagination-bullet:last-of-type{
    margin: 0;
  }
  .footer__info p{
    max-width: 600px;
    margin: 15px auto;
  }
  .footer__info p:first-of-type{
    padding: 33px 15px 3px 3px;
  }
  .footer__info p:nth-of-type(4){
    margin: 50px auto 0 auto;
  }
  .footer__img{
    display: block;
    position: absolute;
    width: 200px;
    top: -20px;
  }
  .footer__img img{
    width: 100%;
  }
  .contact{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 20px 0;
    margin: 75px 0 0 0;
    background: var(--gray);
  }
  .contact__map{
    margin: unset;
  }
  .contact__info{
    text-align: initial;
    margin: 0 0 0 20px;
  }
}

@media screen and (min-width: 1250px) {
  .topBar__header{
    margin: 0 100px 0 0;
  }
  .topBar__header-logo{
    margin: 4px 45px 0 0;
  }
  .topBar__description{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    max-width: 758px;
  }
  .footer__img{
    width: 300px;
    top: -52px;
  }
  .suprise__img {
    width: 270px;
    top: -62px
  }
}
@media screen and (min-width: 1340px){
  .topBar__header{
    margin: 0 165px 0 0;
  }
}
@media screen and (max-width: 1500px){
  .down__img{
    display: none;
  }
}

